In [4]:
import pandas as pd
import numpy as np
from pandas import read_csv
from matplotlib import pyplot
import matplotlib.pyplot as plt
from pandas.plotting import lag_plot
from pandas import read_csv
from matplotlib import pyplot
from pandas.plotting import autocorrelation_plot

from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from matplotlib import pyplot
from sklearn.metrics import mean_squared_error

from statsmodels.tsa.ar_model import AR
from sklearn.metrics import mean_squared_error

from statsmodels.tsa.arima_model import ARIMA

import warnings
warnings.simplefilter(action='ignore')

In [5]:
#Read data
# One file per semester
df0 = pd.read_csv("1min_2015_2016.csv", sep = ";")
df1 = pd.read_csv("1min_2017_2018.csv", sep = ";")
df2 = pd.read_csv("1min_2019.csv", sep = ";")

data0 = pd.concat([df0, df1, df2], ignore_index=True)

In [7]:
df0.tail

<bound method NDFrame.tail of                      date wind_direction  wind_speed  temperature irradiance  \
0        01/01/2015 00:00           81.2         4.0          9.1          0
1        01/01/2015 00:01            NaN         NaN          NaN        NaN
2        01/01/2015 00:02            NaN         NaN          NaN        NaN
3        01/01/2015 00:03            NaN         NaN          NaN        NaN
4        01/01/2015 00:04            NaN         NaN          NaN        NaN
...                   ...            ...         ...          ...        ...
1048570  29/12/2016 04:10           87.7         3.1          7.8          0
1048571  29/12/2016 04:11            NaN         NaN          NaN        NaN
1048572  29/12/2016 04:12            NaN         NaN          NaN        NaN
1048573  29/12/2016 04:13            NaN         NaN          NaN        NaN
1048574  29/12/2016 04:14            NaN         NaN          NaN        NaN

        rain
0          0
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
1048570    0
1048571  NaN
1048572  NaN
1048573  NaN
1048574  NaN

[1048575 rows x 6 columns]>